@font-face {
  font-family: "GibsonRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/GibsonRegular/GibsonRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/GibsonRegular/GibsonRegular.woff") format("woff"), url("../fonts/GibsonRegular/GibsonRegular.ttf") format("truetype"); }
@font-face {
  font-family: "GibsonSemiBold";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/GibsonSemiBold/GibsonSemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/GibsonSemiBold/GibsonSemiBold.woff") format("woff"), url("../fonts/GibsonSemiBold/GibsonSemiBold.ttf") format("truetype"); }
@font-face {
  font-family: "GibsonLight";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/GibsonLight/GibsonLight.eot?#iefix") format("embedded-opentype"), url("../fonts/GibsonLight/GibsonLight.woff") format("woff"), url("../fonts/GibsonLight/GibsonLight.ttf") format("truetype"); }
@font-face {
  font-family: "Slick";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Slick/Slick.eot?#iefix") format("embedded-opentype"), url("../fonts/Slick/Slick.woff") format("woff"), url("../fonts/Slick/Slick.ttf") format("truetype"); }
