a {
  text-decoration: none;
  color: #020202; }

select:focus {
  outline: none; }

.hidden {
  display: none; }

body {
  font-weight: normal;
  min-width: 320px;
  position: relative;
  -webkit-font-smoothing: antialised; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  text-align: center; }
  header a {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out; }

.header_social {
  background: #eee;
  text-align: right;
  position: relative;
  z-index: 20;
  color: #666;
  height: 30px; }

.header_lang {
  height: 20px;
  float: right; }
  .header_lang select {
    -moz-appearance: none;
    border: 0;
    -webkit-appearance: none;
    border-radius: 0;
    background: #eee url("../images/arrow-down.png") no-repeat 90% center;
    width: 60px;
    text-indent: 0.01px;
    text-overflow: "";
    color: #666;
    padding: 5px;
    text-transform: uppercase;
    font-size: 11px;
    height: 30px;
    letter-spacing: 1px; }

.header_social_icons {
  float: right; }
  .header_social_icons .social_icons_container {
    position: relative;
    margin-top: 7px;
    text-align: right; }
    .header_social_icons .social_icons_container i {
      font-size: 17px;
      color: #666;
      padding-left: 10px;
      vertical-align: middle;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
