@charset "UTF-8";
a {
  text-decoration: none;
  color: #020202; }

select:focus {
  outline: none; }

.hidden {
  display: none; }

body {
  font-weight: normal;
  min-width: 320px;
  position: relative;
  -webkit-font-smoothing: antialised;
  font-family: "GibsonRegular";
  font-size: 13px; }

.smaller .header_bar .home-icon {
  height: 45px;
  width: auto; }

.smaller .header_bar .header_bg {
  background: rgba(255, 255, 255, 0.85);
  transition: background 0 ease-in-out;
  -webkit-transition: background 0 ease-in-out;
  -moz-transition: background 0 ease-in-out;
  -ms-transition: background 0 ease-in-out;
  -o-transition: background 0 ease-in-out; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  text-align: center; }
  header a {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out; }

.header_social {
  background: #eee;
  text-align: right;
  position: relative;
  z-index: 20;
  color: #666;
  height: 30px; }

.header_lang {
  height: 20px;
  float: right; }
  .header_lang select {
    -moz-appearance: none;
    border: 0;
    -webkit-appearance: none;
    border-radius: 0;
    background: #eee url("../images/arrow-down.png") no-repeat 90% center;
    width: 60px;
    text-indent: 0.01px;
    text-overflow: "";
    color: #666;
    padding: 5px;
    text-transform: uppercase;
    font-size: 11px;
    height: 30px;
    letter-spacing: 1px; }

.header_social_icons {
  float: right; }
  .header_social_icons #top-bar-separator {
    padding: 5px 10px 5px 15px; }
  .header_social_icons a {
    color: #666; }
  .header_social_icons a:hover {
    color: #bbb; }
  .header_social_icons .social_icons_container {
    position: relative;
    margin-top: 5px;
    text-align: right; }
    .header_social_icons .social_icons_container i {
      font-size: 17px;
      padding-left: 10px;
      vertical-align: middle;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }

.header_bar {
  position: relative;
  width: 100%; }
  .header_bar .header_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    border-bottom: solid 1px #e1e1e1; }
  .header_bar .logo_sidebar {
    position: absolute;
    right: 10px;
    top: 10px; }
  .header_bar .header_logo {
    position: relative;
    display: inline-block; }
    .header_bar .header_logo img {
      height: 80px;
      width: auto;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      display: block;
      position: relative; }

#footer {
  background: #000;
  padding: 0px;
  position: relative; }

.go-to-top {
  font-size: 12px;
  height: 1px;
  position: relative;
  width: 100%;
  text-align: center;
  letter-spacing: 1px;
  top: 15px;
  z-index: 1;
  margin-top: 100px; }

.go-to-top a:hover {
  color: #666; }

.go-to-top a {
  display: block;
  position: relative;
  width: 150px;
  margin: 0 auto;
  color: #888;
  webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.go-to-top span {
  position: relative;
  top: 3px;
  margin-right: 5px; }

.go-to-top i {
  vertical-align: middle;
  font-size: 18px; }

.fa-chevron-up:before {
  content: "ÔÅ∑"; }

.footer-bar {
  color: #888;
  padding: 20px 41px 31px 41px; }

.footer-bar .widget_text:first-child {
  text-align: left;
  display: block;
  width: 50%;
  float: left;
  letter-spacing: 1px;
  font-size: 10px; }

.footer-bar .widget_text {
  display: block;
  width: 50%;
  float: left;
  text-align: right;
  letter-spacing: 1px;
  font-size: 10px; }
