@charset "UTF-8";
ol, ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #020202; }

ul {
  margin: 0;
  padding: 0; }

aside {
  display: block; }

select:focus {
  outline: none; }

.hidden {
  display: none; }

body {
  font-weight: normal;
  min-width: 320px;
  position: relative;
  -webkit-font-smoothing: antialised;
  font-family: "GibsonRegular";
  font-size: 13px; }

.smaller .header_bar .home-icon {
  height: 45px;
  width: auto; }

.smaller .header_bar .header_bg {
  background: rgba(255, 255, 255, 0.85);
  transition: background 0 ease-in-out;
  -webkit-transition: background 0 ease-in-out;
  -moz-transition: background 0 ease-in-out;
  -ms-transition: background 0 ease-in-out;
  -o-transition: background 0 ease-in-out; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  text-align: center; }
  header a {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out; }

.header_social {
  background: #eee;
  text-align: right;
  position: relative;
  z-index: 20;
  color: #666;
  height: 30px; }

.header_lang {
  height: 20px;
  float: right; }
  .header_lang select {
    -moz-appearance: none;
    border: 0;
    -webkit-appearance: none;
    border-radius: 0;
    background: #eee url("../images/arrow-down.png") no-repeat 90% center;
    width: 60px;
    text-indent: 0.01px;
    text-overflow: "";
    color: #666;
    padding: 5px;
    text-transform: uppercase;
    font-size: 11px;
    height: 30px;
    letter-spacing: 1px; }

.header_social_icons {
  float: right; }
  .header_social_icons #top-bar-separator {
    padding: 5px 10px 5px 15px; }
  .header_social_icons a {
    color: #666; }
  .header_social_icons a:hover {
    color: #bbb; }
  .header_social_icons .social_icons_container {
    position: relative;
    margin-top: 5px;
    text-align: right; }
    .header_social_icons .social_icons_container i {
      font-size: 17px;
      padding-left: 10px;
      vertical-align: middle;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }

.header_bar {
  position: relative;
  width: 100%; }
  .header_bar .header_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    border-bottom: solid 1px #e1e1e1; }
  .header_bar .logo_sidebar {
    position: absolute;
    right: 10px;
    top: 10px; }
  .header_bar .header_logo {
    position: relative;
    display: inline-block; }
    .header_bar .header_logo img {
      height: 80px;
      width: auto;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      display: block;
      position: relative; }

#containerrr {
  position: absolute; }

li.dd_menu_title:not(:last-child):after {
  content: "|";
  color: #bbb;
  margin: 0px 8px 0 27px;
  padding-bottom: 2px;
  padding-top: 2px; }

#ddmenu {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  padding-bottom: 10px; }
  #ddmenu ul {
    border-top: 1px solid #e1e1e1;
    padding-top: 10px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    display: inline-block;
    list-style: none;
    position: relative; }
  #ddmenu li {
    display: inline-block;
    margin: 0px 8px;
    padding-bottom: 2px;
    padding-top: 2px;
    position: relative;
    vertical-align: middle;
    outline: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none; }
  #ddmenu .full-width {
    position: static; }
  #ddmenu .top-heading {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    outline: 0;
    cursor: pointer; }
  #ddmenu .dropdown {
    width: auto;
    left: 0px;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    overflow: hidden;
    top: 100%; }
  #ddmenu .full-width .dropdown {
    width: 100%;
    padding: 0;
    margin: 0; }
  #ddmenu .right-aligned {
    left: auto;
    right: 0px; }
  #ddmenu .over .dropdown {
    display: block; }
  #ddmenu .dd-inner {
    text-align: center;
    background-color: #FFF;
    white-space: nowrap;
    font-size: 13px; }
  #ddmenu ul ul {
    margin: 0;
    text-align: left;
    width: auto;
    display: block;
    position: static;
    border: none;
    padding-top: 25px;
    padding-bottom: 15px; }
    #ddmenu ul ul li {
      margin: 0;
      display: block;
      position: static; }
  #ddmenu .dropdown a {
    line-height: 1;
    text-decoration: none; }
    #ddmenu .dropdown a:hover, #ddmenu .dropdown a:focus {
      text-decoration: none; }
  #ddmenu .column {
    text-align: left;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    white-space: normal;
    width: auto;
    min-width: 200px; }
  #ddmenu .dd-inner ul:last-child {
    border-right: none; }
  #ddmenu div.column h3 {
    text-transform: uppercase; }

#ddmenuLink, #ddmenu .menu-icon {
  display: none; }

@media only screen and (max-width: 480px) {
  #ddmenu .column.mayHide {
    display: none; }
  #ddmenu ul {
    width: 100%;
    display: none;
    border-radius: 0; }
  #ddmenu li {
    position: relative;
    display: block;
    font-size: 20px;
    text-align: left; }
  #ddmenu .full-width {
    position: relative; }
  #ddmenu .dropdown {
    position: relative;
    *top: auto;
    border: none;
    border-radius: 0;
    box-shadow: none; }
  #ddmenu .offset300 {
    left: 0; }
  #ddmenu .full-width .dropdown {
    width: auto; }
  #ddmenu .dd-inner {
    margin: 0;
    background: none;
    text-align: left; }
  #ddmenu .column {
    width: auto;
    padding: 0;
    border: none;
    display: block; }
  #ddmenu .menu-icon {
    font-size: 32px;
    display: block;
    position: relative;
    width: 40px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    background-color: #eee;
    border-radius: 3px;
    margin-bottom: 6px;
    margin-left: auto;
    margin-right: 11px; }
    #ddmenu .menu-icon::before {
      content: "";
      position: absolute;
      top: 0.25em;
      left: 4px;
      width: 1em;
      height: 0.125em;
      border-top: 0.375em double #333;
      border-bottom: 0.125em solid #333;
      box-sizing: content-box; }
  #ddmenu .menu-icon-active {
    background-color: #333; }
    #ddmenu .menu-icon-active::before {
      border-color: #eee; } }
#footer {
  background: #000;
  padding: 0px;
  position: relative; }

.go-to-top {
  font-size: 12px;
  height: 1px;
  position: relative;
  width: 100%;
  text-align: center;
  letter-spacing: 1px;
  top: 15px;
  z-index: 1;
  margin-top: 100px; }

.go-to-top a:hover {
  opacity: 0.5; }

.go-to-top a {
  display: block;
  position: relative;
  width: 150px;
  margin: 0 auto;
  color: #888;
  font-family: "GibsonRegular"; }

.go-to-top a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.go-to-top span {
  position: relative;
  top: 3px;
  margin-right: 5px; }

.go-to-top i {
  vertical-align: middle;
  font-size: 18px; }

.fa-chevron-up:before {
  content: ""; }

.footer-bar {
  color: #888;
  padding: 20px 41px 31px 41px; }

.footer-bar .widget_text:first-child {
  text-align: left;
  display: block;
  width: 50%;
  float: left;
  letter-spacing: 1px;
  font-size: 10px; }

.footer-bar .widget_text {
  display: block;
  width: 50%;
  float: left;
  text-align: right;
  letter-spacing: 1px;
  font-size: 10px; }

.footer-menu {
  display: block;
  float: left;
  width: 75%;
  padding: 41px 0 0px 41px;
  letter-spacing: 1px;
  font-size: 11px; }

.footer-nav-menu .three {
  margin-left: 5%; }

.footer-nav-menu li {
  display: block;
  float: left;
  width: 29.33333%; }

.footer-nav-menu li:first-child {
  margin-left: 0%; }

.footer-nav-menu .fix_color {
  margin-bottom: 23px;
  display: inline-block;
  font-family: "GibsonSemiBold";
  color: #000;
  text-transform: uppercase; }

.footer-nav-menu .sub-menu li {
  padding-left: 0px;
  margin-bottom: 18px;
  text-transform: uppercase;
  display: block;
  font-weight: normal;
  font-family: "GibsonRegular";
  width: 100%; }

.footer-nav-menu .sub-menu a {
  color: #666; }

.footer-menu a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.footer-menu a:hover {
  color: #020202; }

.wpw-drop-menu-cross {
  margin-left: 5%; }
  .wpw-drop-menu-cross .sub-menu li {
    padding-left: 14px; }

.footer-nav-menu .sub-menu a:hover {
  color: #000; }

.footer-nav-menu .sub-menu .current_page_item a {
  font-family: "GibsonRegular"; }

.wpw-drop-menu-cross .sub-menu li {
  padding-left: 14px; }

.footer-nav-menu .sub-menu .sub-menu li {
  margin: 15px 0;
  padding-left: 10px;
  text-transform: none; }

.footer-nav-menu .sub-menu .sub-menu .sub-menu li {
  font-size: 10px;
  padding-left: 10px;
  margin-bottom: 0px;
  text-transform: none; }

.wpw-drop-submenu {
  position: relative; }

.wpw-drop-submenu a {
  position: relative; }

.wpw-drop-submenu ul {
  display: block;
  height: 0px;
  overflow: hidden;
  position: relative; }

.animated-submenu {
  -webkit-transition: height 0.3s ease-in-out;
  -moz-transition: height 0.3s ease-in-out;
  -ms-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out; }

.wpw-drop-submenu a i {
  display: inline-block;
  position: absolute;
  left: -15px;
  text-transform: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif; }

.wpw-drop-submenu a .submenu-close {
  display: none; }

.show-submenu a .submenu-close {
  display: inline; }

.wpw-drop-submenu a .submenu-open {
  display: inline; }

.show-submenu a .submenu-open {
  display: none; }

.show-submenu ul {
  height: auto; }

.footer-right {
  display: block;
  color: #fff;
  letter-spacing: 1px;
  font-family: "GibsonRegular";
  padding: 41px 0 34px 0px;
  float: right;
  width: 25%;
  color: #000; }

.footer-right ul {
  margin-bottom: 30px; }

.footer-right li {
  font-size: 11px;
  padding-bottom: 18px;
  list-style-type: none; }

.footer-right li:last-child {
  padding-bottom: 0px; }

.footer-right i {
  font-size: 22px;
  padding: 0 10px 0 0px; }

.footer-right a:hover {
  opacity: 0.5; }

.footer-right a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.footer-right .follow-us {
  font-size: 11px;
  display: block;
  margin-bottom: 5px; }

.footer-border {
  width: 50%;
  border-top: 1px solid #000;
  display: block;
  padding-bottom: 30px; }
