/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1900px) {
		
}

@media only screen and (max-width : 1200px) {
		
}
@media only screen and (max-width: 1024px) {
  .stick {
    display: none; }
	.header_social{
		display: none;
	}
	.header_bar .header_logo img{
		height: 60px;
	}
  .menu-btn {
    display: block;
		background: rgba(255, 255, 255, 0.85);
    text-align: center;
    cursor: pointer; }
    .menu-btn .fa-bars {
      display: none; }
    .menu-btn .fa-bars.active {
      vertical-align: middle;
      font-size: 23px;
      padding: 8px 0;
      color: #000;
      display: inline-block; }
    .menu-btn .fa-chevron-up {
      display: none; }
    .menu-btn .fa-chevron-up.active {
      vertical-align: middle;
      font-size: 23px;
      padding: 8px 0;
      color: #000;
      display: inline-block; }

  .more {
    top: 10px;
    font-size: 26px;
    float: right;
    min-width: 10%;
    cursor: pointer;
    position: absolute;
    width: 100%;
    display: inline-block;
    height: 0; }
    .more .fa {
      float: right;
      padding-right: 20px;
      padding-top: 3px; }

  nav {
    border-top: 1px solid #e1e1e1;
    max-height: 38px;
    transition: max-height 0.3s;
    overflow: hidden;
    position: relative; }

  nav.menu-open {
    max-height: 2000px; }

  #ddmenu {
    height: auto; }
    #ddmenu .dd_item.lang_menu {
      display: block; }
      #ddmenu .dd_item.lang_menu .active {
        background-color: #ccc; }
    #ddmenu .dd_item {
      line-height: 1;
      display: block;
      padding: 0;
      text-align: left;
      text-transform: uppercase;
      padding-left: 0px;
      background: url("../images/shadow-menu-brand.png") center top no-repeat #FFF;
      border: none; }
      #ddmenu .dd_item > a {
        font-size: 16px;
        letter-spacing: 0.072em;
        padding: 16px 20px;
        width: 100%;
        display: block; }
        #ddmenu .dd_item > a:hover {
          color: #000; }
      #ddmenu .dd_item .dd_ul_cont {
        position: relative;
        background: none; }
        #ddmenu .dd_item .dd_ul_cont .div_cont {
          text-align: left; }
          #ddmenu .dd_item .dd_ul_cont .div_cont > li {
            display: block;
            font-size: 16px;
            letter-spacing: 0.072em;
            width: 100%;
            display: block;
            color: #555;
            float: none; }
            #ddmenu .dd_item .dd_ul_cont .div_cont > li ul {
              padding: 0;
              color: #000; }
              #ddmenu .dd_item .dd_ul_cont .div_cont > li ul li a {
                color: #555;
                width: 100%;
                display: block;
                padding: 16px 40px; }
                #ddmenu .dd_item .dd_ul_cont .div_cont > li ul li a:hover {
                  text-decoration: none;
                  color: #555; }
      #ddmenu .dd_item #colection li ul li {
        display: none;
        color: #999999;
        font-size: 13px;
        padding-left: 50px;
        background-color: #f4f4f4; }
        #ddmenu .dd_item #colection li ul li:first-child {
          font-size: 16px;
          padding: 13px 40px;
          display: block;
          color: #555;
          background: url("../images/shadow-menu-brand.png") center top no-repeat #FFF; }
      #ddmenu .dd_item #colection li ul li.colection_title + li {
        font-size: 13px;
        color: #555;
        padding-left: 40px; }
      #ddmenu .dd_item #colection li ul.sub_menu_open li {
        display: block; }
        #ddmenu .dd_item #colection li ul.sub_menu_open li a {
          padding: 4px;
          font-size: 90%;
          color: #AEAAA9; }

  #world_of_daniela {
    width: 100%; 
  } 

	/*world of daniella begin*/
	.d_text_area 	.cont_for_title_pic img{
		height: 40px;
		width: auto;
		margin: 15px 0px;
		padding: 0;
	}
	#content.world_of_daniella .masonry-container .item{
		height: 275px !important;
	}
	.d_text_area .cont_for_text p{
		width: 90%;
		text-align: justify;
		font-family: "GibsonLight";
		font-size: 16px;
		line-height: 1.6em;
	}
	/*world of daniella ebd*/

  }

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .masonry-container-home .item:hover:not(.cite) img{
    opacity:1;
    -webkit-transform:none;
    -moz-transform:none;
    filter: none;

  }
    .masonry-container-home .item:hover:not(.cite) span{
background: #000;

  }
  .btn_form{
    margin-bottom: 40px;
margin-right: 12%;
width: 80%;
background-color: #555;
border: 1px solid #555;
font-size: 16px;
  }
#content.home .item.item_big.col-sm-6{
  height: 300px;
}
  .masonry-container-home .item.item_big.col-sm-12  {
  height: 500px;
}
.masonry-container-home .item.item_small:not(.cite).col-sm-6,.masonry-container-home .item.item_big.cite.col-sm-6,.masonry-container-home .cite.col-sm-6 {
  height: 300px;
}
.masonry-container-home .item:not(.cite) span{font-size: 18px;
letter-spacing: 0.15em;}
.masonry-container-home .item:not(.cite) span i{vertical-align: 2px;
font-size: 15px;}
.masonry-container-home .item.item_small:not(.cite) span{
  font-size: 18px;
letter-spacing: 0.15em;
}.masonry-container-home .item.item_small:not(.cite) span i{
vertical-align: 2px;
font-size: 15px;
}
.masonry-container-home .cite .outer-center .middle-center .inner-center blockquote{
  font-size: 34px;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}


/* Extra Small Devices, Phones */
@media  (max-width : 480px) {
		.owl-controls .owl-nav{
			top: 40%;
		}
		.owl-controls .owl-dots{
			bottom: -10%;
		}
		#content.world_of_daniella .masonry-container .item{
		height: 100px !important;
	}
/*footer*/
	.footer-bar .widget, .footer-bar .company {
			width: 100% !important;
			float:none !important;
			margin:10px 0px;
			text-align:center;
	}
	.go-to-top {height:auto; font-size:18px;}
	.footer-menu {display:none;}
	.footer-bar{padding:20px 0px ;}
	.footer-bar .textwidget {font-size:8px;}
	.footer-right {text-align:center; padding:5px 0 30px 0 ; background:#000;  float:none; width:100%;}
	.footer-right ul, .footer-right .follow-us {display:none;}
	.footer-right i {color:#888; font-size:25px; padding-bottom:30px;}
	.footer-right .private-footer-btn {display:none;}
	.footer-right .footer-border {display:none;}
	.footer-bar .mobile-small-menu  {display:block }
	.footer-bar .mobile-small-menu a {color:#888; padding:0 4px; font-size:10px; display:inline-block; margin-top:20px; }
	.footer-bar .mobile-small-menu .private-area {border:1px solid #888; padding:5px 10px; margin-left:25px;}
.masonry-container-home .item.item_small:not(.cite).col-sm-6.col-xs-12,.masonry-container-home .item.item_big.cite.col-sm-6.col-xs-12,.masonry-container-home .cite.col-sm-6.col-xs-12 {
  height: 400px;
}
#content.home .item.item_big.col-xs-12{
  height: 400px;
}
.masonry-container-home .item.item_small:not(.cite) span{
  font-size: 16px;
letter-spacing: 0em;
}
.masonry-container-home .item.item_small:not(.cite) span i{
vertical-align: 0px;
font-size: 16px;
}

.masonry-container-home .item:not(.cite) span{
    font-size: 16px;
letter-spacing: 0em;
}.masonry-container-home .item:not(.cite) span i{
 vertical-align: 0px;
font-size: 16px;
}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 481px) and (max-width: 1023px) {
/*footer*/
	.footer-bar .widget, .footer-bar .company {
			width: 100% !important;
			float:none !important;
			margin:10px 0px;
			text-align:center;
	}
	.go-to-top {height:auto; font-size:18px;}
	.footer-menu {display:none;}
	.footer-right .private-footer-btn {display:none;}
	.footer-right .footer-border {display:none;}
	.footer-bar .textwidget {font-size:8px;}
	.footer-right {text-align:center; padding:5px 0 30px 0 ; background:#000; float:none; width:100%;}
	.footer-right ul, .footer-right .follow-us {display:none;}
	.footer-right i {color:#888; font-size:40px; padding-bottom:30px;}
	.footer-bar .mobile-small-menu  {display:block }
	.footer-bar .mobile-small-menu a {color:#888; padding:0 4px; font-size:10px; display:inline-block; margin-top:20px; }
	.footer-bar .mobile-small-menu .private-area {border:1px solid #888; padding:5px 10px; margin-left:25px;}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 1024px) {
/*footer*/
	.footer-bar .mobile-small-menu {display:none;}
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
@media only screen and (min-width : 1600px) {
  .masonry-container-home .item.item_big {
  height: 480px;
}
.masonry-container-home .item.item_small:not(.cite),.masonry-container-home .item.item_big.cite,.masonry-container-home .cite {
  height: 282px;
}
}

@media only screen and (min-width : 1824px) {
	/*footer*/
	.footer-bar .mobile-small-menu {display:none;}

.masonry-container-home .item.item_small:not(.cite),.masonry-container-home .item.item_big.cite,.masonry-container-home .cite {
  height: 335px;
}
.masonry-container-home .item.item_big {
  height: 576px;
}
}
