@media only screen and (max-width: 1024px) {
  .stick {
    display: none; }

  .menu-btn {
    display: block;
    background: #fff;
    text-align: center;
    cursor: pointer; }
    .menu-btn .fa-bars {
      display: none; }
    .menu-btn .fa-bars.active {
      vertical-align: middle;
      font-size: 23px;
      padding: 8px 0;
      color: #000;
      display: inline-block; }
    .menu-btn .fa-chevron-up {
      display: none; }
    .menu-btn .fa-chevron-up.active {
      vertical-align: middle;
      font-size: 23px;
      padding: 8px 0;
      color: #000;
      display: inline-block; }

  .more {
    top: 10px;
    font-size: 26px;
    float: right;
    min-width: 10%;
    cursor: pointer;
    position: absolute;
    width: 100%;
    display: inline-block;
    height: 0; }
    .more .fa {
      float: right;
      padding-right: 20px;
      padding-top: 3px; }

  nav {
    border-top: 1px solid #e1e1e1;
    max-height: 38px;
    transition: max-height 0.3s;
    overflow: hidden;
    position: relative; }

  nav.menu-open {
    max-height: 2000px; }

  #ddmenu {
    height: auto; }
    #ddmenu .dd_item.lang_menu {
      display: block; }
      #ddmenu .dd_item.lang_menu .active {
        background-color: #ccc; }
    #ddmenu .dd_item {
      line-height: 1;
      display: block;
      padding: 0;
      text-align: left;
      text-transform: uppercase;
      padding-left: 0px;
      background: url("../images/shadow-menu-brand.png") center top no-repeat #FFF;
      border: none; }
      #ddmenu .dd_item > a {
        font-size: 16px;
        letter-spacing: 0.072em;
        padding: 16px 20px;
        width: 100%;
        display: block; }
        #ddmenu .dd_item > a:hover {
          color: #000; }
      #ddmenu .dd_item .dd_ul_cont {
        position: relative;
        background: none; }
        #ddmenu .dd_item .dd_ul_cont .div_cont {
          text-align: left; }
          #ddmenu .dd_item .dd_ul_cont .div_cont > li {
            display: block;
            font-size: 16px;
            letter-spacing: 0.072em;
            width: 100%;
            display: block;
            color: #555; }
            #ddmenu .dd_item .dd_ul_cont .div_cont > li ul {
              padding: 0;
              color: #000; }
              #ddmenu .dd_item .dd_ul_cont .div_cont > li ul li a {
                color: #555;
                width: 100%;
                display: block;
                padding: 16px 40px; }
                #ddmenu .dd_item .dd_ul_cont .div_cont > li ul li a:hover {
                  text-decoration: none;
                  color: #555; }
      #ddmenu .dd_item #colection li ul li {
        display: none;
        color: #999999;
        font-size: 13px;
        padding-left: 50px;
        background-color: #f4f4f4; }
        #ddmenu .dd_item #colection li ul li:first-child {
          font-size: 16px;
          padding: 13px 40px;
          display: block;
          color: #555;
          background: url("../images/shadow-menu-brand.png") center top no-repeat #FFF; }
      #ddmenu .dd_item #colection li ul li.colection_title + li {
        font-size: 13px;
        color: #555;
        padding-left: 40px; }
      #ddmenu .dd_item #colection li ul.sub_menu_open li {
        display: block; }
        #ddmenu .dd_item #colection li ul.sub_menu_open li a {
          padding: 4px;
          font-size: 90%;
          color: #AEAAA9; }

  #world_of_daniela {
    width: 100%; } }
