@media only screen and (max-width : 1024px)
	.stick
		display: none



	.menu-btn 
		display: block
		background: #fff
		text-align: center
		cursor: pointer
		.fa-bars
			display: none
		.fa-bars.active
			vertical-align: middle
			font-size: 23px
			padding: 8px 0
			color: #000
			display: inline-block
		.fa-chevron-up
			display: none
		.fa-chevron-up.active
			vertical-align: middle
			font-size: 23px
			padding: 8px 0
			color: #000
			display: inline-block			
	.more 
		top: 10px
		font-size: 26px
		float: right
		min-width: 10%
		cursor: pointer
		position: absolute
		width: 100%
		display: inline-block
		.fa
			float: right
			padding-right: 20px
			padding-top: 3px
	nav
		border-top: 1px solid #e1e1e1
		max-height: 38px
		transition: max-height 0.3s
		overflow: hidden
		position: relative
	nav.menu-open
		max-height: 2000px
	#ddmenu
		height: auto
		.dd_item
			line-height: 1
			display: block
			padding: 15px 0
			text-align: left
			text-transform: uppercase
			padding-left: 0px
			background: url("../images/shadow-menu-brand.png") center top no-repeat #FFF
			border: none
			>a
				font-size: 16px
				letter-spacing: 0.072em
				padding: 0 20px
			.dd_ul_cont
				position: relative
				display: block
				height: auto !important


		